[submodule "OloEngine/vendor/spdlog"]
	path = OloEngine/vendor/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "OloEngine/vendor/GLFW"]
	path = OloEngine/vendor/GLFW
	url =  ../../drsnuggles8/glfw.git
	branch = master
[submodule "OloEngine/vendor/imgui"]
	path = OloEngine/vendor/imgui
	url = ../../drsnuggles8/imgui.git
	branch = docking
[submodule "OloEngine/vendor/glm"]
	path = OloEngine/vendor/glm
	url = ../../g-truc/glm.git
	branch = master
[submodule "OloEngine/vendor/yaml-cpp"]
	path = OloEngine/vendor/yaml-cpp
	url = ../../drsnuggles8/yaml-cpp.git
[submodule "OloEngine/vendor/ryml"]
	path = OloEngine/vendor/ryml
	url = https://github.com/drsnuggles8/rapidyaml/
