[submodule "OloEngine/vendor/spdlog"]
	path = OloEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "OloEngine/vendor/GLFW"]
	path = OloEngine/vendor/GLFW
	url = https://github.com/drsnuggles8/glfw/
