# Binaries
**/bin/
!OloEngine/mono/bin
bin-int/
obj/
**/cache/**
OloEditor/Resources/Scripts/Hazel-ScriptCore.dll
OloEditor/Resources/Scripts/Hazel-ScriptCore.pdb
Intermediates/
Binaries
OloEditor/Resources/Scripts/
__pycache__

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.nsight-gfxproj
**.DotSettings
**.user

# CMake ignores
**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

*.pch
*.obj
build/**/*

# Don't upload vendor folder, except for the CMakeLists.txt
!OloEngine/vendor/
OloEngine/vendor/*
!OloEngine//vendor/CMakeLists.txt

# Profiling files
**/OloProfile-Runtime.json
**/OloProfile-Shutdown.json
**/OloProfile-Startup.json

# imgui profiles
**/imgui.ini

# Log files
**.log
**.tlog
